td {
    text-align: center;
    padding: 0px;
}

.tab123 {
    text-align: center;
    padding:0px;
    margin:0px;
}

.warning{
    color: darkorange;
}

.n{
    background-color:white;
    color:green;
}

.level1{
    background-color: darkviolet;
    color:white;
}

.level2{
    background-color: blueviolet;
    color:white;
}

.level3{
    text-align: left;

}

.level4{
    background-color: violet;
    color:white;
}

.level5{
    background-color: palevioletred;
    color:white;
}
.container{
    width:auto;

    padding:20px;
    height: 100vh;
}

.sidebar-menu{

    width:24vh;
    height: auto;
    border:solid;
    float:left;
    padding:0px !important;
    margin-left: 0%;
    color:black !important;

}

.content{


    border:solid;
    height:auto;
    width:75%;
    display: inline-block;
    padding:30px;
    margin-left: 5vh;

}

.logo{
    width:150px;
    padding:5px;
}